{{#> base}}
<div>
  <a href="{{domain}}" target="_blank" style="font-size: 1.375em;">&#706; Verbéna &#707;</a>
  <p>Hi {{nickname}},</p>
  <p>Please confirm your account <b>recovery</b></p>
  <div class="btn btn-primary">
    <a href="{{domain}}/static/recovery.html?param={{target}}" target="_blank"
      style="text-decoration: none;color: #fff;">
      Confirm password recovery in the form
    </a>
  </div>
  <p>This link is valid for {{recovery_duration}} minutes.</p>
  <p>Demo site <a href="{{domain}}" target="_blank">www.verbena</a></p>
</div>
{{/base}}
