{{#> base}}
<div>
  <a href="{{domain}}" target="_blank" style="font-size: 1.375em;">&#706; Verbéna &#707;</a>
  <p>Hi {{nickname}},</p>
  <p>Please confirm your account <b>registration</b></p>
  <div class="panel btn btn-primary">
    <a href="{{domain}}/static/registr.html?param={{target}}" target="_blank"
      style="text-decoration: none;color: #fff;">
      Confirm your registration
    </a>
  </div>
  <p>Demo site <a href="{{domain}}" target="_blank">www.verbena</a></p>
</div>
{{/base}}
